#-- Config file for toy examples
---
toy_examples:
- paths:
    input_folder: 
    #-- below doesn't exist, will have to create if necessary in codebases
    output_folder: 
- plotting: 
    font: Script
---
